/* SPDX-License-Identifier: LGPL-3.0-or-later */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background: transparent;
}

body {
  overflow: hidden;
}

#root {
  max-width: none;
  border: none;
  text-align: initial;
}
